<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>Let Us Find Your Word in a Sentence</h1>
  <form class="form-group" action="/result" method="post">
    <h4>Your Word: <input required type="text" name="word-input" class="form-control word-input"></h4>
    <h4>Your Sentence: <input required type="text" name="sentence-input" class="form-control"></h4>
    <button type="submit" name="button" class="btn btn-primary">Submit</button>
  </form>
</body>
