<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h2>Your word appears @Model time(s) in your sentence!</h2>
  <h3>This is where the word and sentence should appear...</h3>
  <h3><a href="/">Back Home</a></h3>
</body>
